<md-card class=" example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Registry Person</md-card-title>
    </md-card-header>
    <md-card-content>
        <form [formGroup]="personForm" (ngSubmit)="createPerson()">
            <input formControlName="nome" type="text" placeholder="Your name">
            <input formControlName="email" type="email" placeholder="your-email@provider.com">
            <button (click)="createPerson()">Create</button>
        </form>
    </md-card-content>
</md-card>