<h1> People </h1>
<md-grid-list cols="2">
    <md-grid-tile *ngFor="let person of people">
        <md-card class="example-card">
            <md-card-header>
                <div md-card-avatar class="example-header-image"></div>
                <md-card-title>{{person.name}}</md-card-title>
                <md-card-subtitle>{{person.email}}</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="{{person.img}}">
        </md-card>
    </md-grid-tile>
</md-grid-list>