.example-card {
  width: 440px;
}

.example-header-image {
  background-image: url('assets/imgs/shiba2.jpg');
  background-size: cover;
}

.container-card {
  width: 50%!important;
}

md-grid-tile {
    overflow: visible;
}
